# Dictionaries

## syntax
## print(key:value,key:value,key:value)

In [71]:
student = {'name':'bharath',
          'roll no': 13,
          'class':'cse-ds'}

In [72]:
print(student['name'])

bharath

In [73]:
print(student['roll no'])

13

In [74]:
print(student['class'])

cse-ds

In [75]:
friend = {'name':'srihith',
          'roll no': 51,
          'classs':'cse-data science',
         'semesters' : [1,2,3,4,5,6,7,8]}

In [76]:
print(student['name'])
print(friend['classs'])
print(friend['semesters'])

bharath
cse-data science
[1, 2, 3, 4, 5, 6, 7, 8]

# Modifiying and Adding entries

In [77]:
student = {'name': 'ruchith',
          'age': 40,
          'class': 'cse'}

In [78]:
student['age'] = 20

In [79]:
print(student)

{'name': 'ruchith', 'age': 20, 'class': 'cse'}

In [80]:
student['branch'] = 'cse-ds'
student['rollnumber'] = 32

In [81]:
print(student)

{'name': 'ruchith', 'age': 20, 'class': 'cse', 'branch': 'cse-ds', 'rollnumber': 32}

In [82]:
 a = {'n': 23,
     'b':'bht'}

In [83]:
a['n'] = 20

In [84]:
print(a)

{'n': 20, 'b': 'bht'}

# Dictionaries Methods

### get(): Returns the value for a specified key. it allows you to provide a default value if the key is not found.

In [114]:
student = {'name': 'ruchith',
          'age': 40,
          'class': 'cse'}

In [115]:
student.get('age')

40

In [116]:
gender = student.get('gender','no')

In [117]:
print(student.get(gender))

None

### keys(): Returns a view of all the keys in the dictionary

In [118]:
print(student.keys())

dict_keys(['name', 'age', 'class'])

### values(): returns a view of all the values in the dictionary

In [119]:
print(student.values())

dict_values(['ruchith', 40, 'cse'])

### items():returns a views of all key-value pairs as tuples

In [120]:
print(student.items())

dict_items([('name', 'ruchith'), ('age', 40), ('class', 'cse')])

### pop(): removes and return the value for a specified key

In [121]:
print(student.pop('age'))

40

In [122]:
print(student)

{'name': 'ruchith', 'class': 'cse'}

### popitem(): removes and returns the last inserted key- value pair as a tuple

In [123]:
print(student.popitem())

('class', 'cse')

In [112]:
print(student)

{'name': 'ruchith'}

### update(): Update the dictionary with elements from another dictionary or from an iterable.

In [139]:
student = {'name':'bharath',
          'roll no': 13,
          'class':'cse-ds'}

In [140]:
student

{'name': 'bharath', 'roll no': 13, 'class': 'cse-ds'}

In [141]:
new_student = {'roll no': 222010326013,
              'class': 'cse - data science'}

In [142]:
new_student

{'roll no': 222010326013, 'class': 'cse - data science'}

In [143]:
student.update(new_student)

In [144]:
print(student)

{'name': 'bharath', 'roll no': 222010326013, 'class': 'cse - data science'}