# Sets

#### In python a set is a collection of unique elementes and it is defined using curley braces {} and seperated by commas(,).
Sets are used to store multiple itemes in a single variable.
 
Sets are unordered , mutable and don't allow duplicate.

Sets provide a variety of methods for performing common set operations like union, intersection,difference and more.

In [5]:
##creating sets with elements
names = {'bharath','teja','alla'}
print(names)

##converting list into a sets
numbers = [1,2,3,45,67,89,9]
update_numbers_to_set = set(numbers)
print(update_numbers_to_set)

{'alla', 'bharath', 'teja'}
{1, 2, 67, 3, 9, 45, 89}

In [6]:
##duplicate items in a set
names = {'bharath','bharath','teja','alla','alla'}
print(names)

{'alla', 'bharath', 'teja'}

## Add and update set items in python
Sets are mutable .However,since they are unordered , indexing has no meaning.

we cannot access or change an element of a set using indexing or slicing.

### Adding items to a set in python:
In python we use the add() method to add an item to a set.

In [10]:
a = {1,2,3,4,5,67}
b = a.add(23)
print(a)

{1, 2, 3, 4, 5, 67, 23}

### Update :
The update() method is used to update the set with items other collection types (lists,tuples, sets,etc)

In [18]:
colleges = {'gitam','vignan','mgit','cbit'}
updated_colleges = ['iit','nit']
colleges.update(final_colleges)
print("Final colleges for my btech :", colleges)

Final colleges for my btech : {'mgit', 'gitam', 'vignan', 'iit', 'cbit', 'nit'}

### Remove an element from a set:
we use the discard() method to remove the specified element from a set.

In [22]:
languages = {'telugu','english','hindi'}
languages.discard('hindi')
print(languages)

{'english', 'telugu'}

In [23]:
##Remove  remove()
languages.remove('english')
print(languages)

{'telugu'}

### Python set operations :
Python set provides difference built-in methods to perform mathematical set operations like union , intersection, subtraction and symmetric difference.

#### Union of two sets:
The union of two sets A & B include all of the elements of setA and setB.

In [30]:
a = {1,2,3}
b = {4,56,78,9}
##Perform union operation using: union()        ####  method one 
c = a.union(b)  
print(c)

#Perform union operations using this symbol:|   #### method two
d = a|b
print(d)

{1, 2, 3, 4, 56, 9, 78}
{1, 2, 3, 4, 56, 9, 78}

### Intersection:
The intersection of two sets A & B include the common elements between A & B

In [34]:
x = {1,3,6,9,11,13,15,17,19}
y = {3,6,9,12,15,18,21}
## Perform intersection operation using: intersection()      #### method one
z = x.intersection(y)
print(z)
## Perform intersection operation using: &                   #### method two
p = x&y
print(p)

{9, 3, 6, 15}
{9, 3, 6, 15}

### Difference:
The difference between two sets A & B include elements of setA that are not present on setB.

Returns elements that are in the first set but not in second.

In [42]:
m = {1,2,3,4,5,667,811}
n = {1,3,5,668,90}
## Perform difference operation using:'-'                     #### method one            
print(m-n)     ##(A-B)

## Perform difference operation using: difference()           #### method two
p = m.difference(n)    ##(A-B)
print(p)

{2, 811, 4, 667}
{2, 811, 4, 667}

In [43]:
m = {1,2,3,4,5,667,811}
n = {1,3,5,668,90}
## Perform difference operation using:'-'                     #### method one            
print(n-m)     ##(B-A)

## Perform difference operation using: difference()           #### method two
p = n.difference(m)    ##(B-A)
print(p)

{90, 668}
{90, 668}

### Set symmetric difference:
The symmetric difference between two sets A & B includes all elements of A & B without the common elements.

Returns elements that are neither.

In [47]:
x = {1,3,6,9,11,13,15,17,19}
y = {3,6,9,12,15,18,21}
## Perform symmetric difference operation using: symmetric_difference()      #### method one
z = x.symmetric_difference(y)
print(z)
## Perform intersection operation using: ^                   #### method two
p = x^y
print(p)

{1, 11, 12, 13, 17, 18, 19, 21}
{1, 11, 12, 13, 17, 18, 19, 21}