In [ ]:
# 
1.Define python
2.create five valide variables and invalid variables
3.define the list.
4.creat list with 10 items.
5.acess it one by one.

In [ ]:
##
python:

Python is a popular programming language.And its syntax is easy when compare to other programming languages.
python is invented inn 1991.python is used to creat web applications for example:Dashboards.

In [28]:
##valid variables
a = 10
Name = "bharath"
last_name = 'alla'
b_13 = 67
__python__ = 1991

In [38]:
##invalid variables
na$me = 34
2name = 'bharath'
^percent = 100
&name = "teja"

In [ ]:
##
list:
list is a datatype in python programming language.
and list is mutable.
mutable means we can change the values in side the bracket.
list uses square brackets.
list can store more amount of data.
list has linked list.

In [96]:
## List
a = [1,2,3,4,5,6,7,8,'bharath',2.3]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 'bharath', 2.3]

In [99]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])

1
2
3
4
5
6
7
8
bharath

In [100]:
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])

2.3
bharath
8
7
6
5
4
3

In [58]:
a.append('teja')
print(a)

[1, 2, 3, 45, 6, 7, 8, 'bharath', 2.3, 'teja']

In [59]:
a.index('bharath')

7

In [60]:
a.pop(8)
print(a)

[1, 2, 3, 45, 6, 7, 8, 'bharath', 'teja']

In [72]:
## tuple
## tuple is immutable and it uses closed brackets
b = (1,23,45,67,89,100,'srihith')
print(b)

(1, 23, 45, 67, 89, 100, 'srihith')

In [67]:
b.index(23)

1

In [71]:
## string 
# string is immutable and it uses quotes.
#string uses three types of quotes '',"",""" """.
name = 'bharath'
print(name)

bharath

In [78]:
## dictionaries
# it uses curley brackets.
# it has key value 
#combination of key-value is called item.
x = {'name' : 'bharath',
    'class' : 'cse-ds',
    'rollno' : 222010326013,
    'university' : 'gitam'}

In [83]:
print(x['name'])

bharath

In [86]:
x.keys()

dict_keys(['name', 'class', 'rollno', 'university'])

In [87]:
x.values()

dict_values(['bharath', 'cse-ds', 222010326013, 'gitam'])

In [88]:
x.items()

dict_items([('name', 'bharath'), ('class', 'cse-ds'), ('rollno', 222010326013), ('university', 'gitam')])

In [89]:
y = {'name':'teja'}

In [91]:
x.update(y)

In [92]:
print(x)

{'name': 'teja', 'class': 'cse-ds', 'rollno': 222010326013, 'university': 'gitam'}